<div class="box-header {{if background '' 'with-border'}}" {{action 'toggleCollapse'}}>
  <h3 class="box-title">{{#if title}}{{{title}}}{{/if}} </h3>
  <div class="box-tools pull-right">
  	{{#if label}}
  		<span class="{{if labelClass 'label'}}">
  			{{label}}
  		</span>
  	{{/if}}
  	{{#if collapsable}}
		<button class="{{if buttonClass 'btn'}}" {{action 'toggleCollapse' bubbles=false}}><i class="fa {{if isCollapsed 'fa-plus' 'fa-minus'}}"></i></button>
	{{/if}}
	{{#if closable}}
		<button class="{{if buttonClass 'btn'}}" {{action 'close' bubbles=false}}><i class="fa fa-times"></i></button>
	{{/if}}
	{{!TODO: hook for extra buttons...}}
	{{!-- <div class="btn-group">
	  <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
	  <ul class="dropdown-menu" role="menu">
		<li><a href="#">Action</a></li>
		<li><a href="#">Another action</a></li>
		<li><a href="#">Something else here</a></li>
		<li class="divider"></li>
		<li><a href="#">Separated link</a></li>
	  </ul>
	</div> --}}
  </div>
</div>
<div class="box-body {{bodyClass}}">
  {{yield}}
</div>
{{#if footer}}
	<div class="box-footer {{footerClass}}">
	  	{{partial footer}}
	</div>
{{/if}}
{{#if isLoading}}
	<div class="overlay">
		<i class="fa fa-refresh fa-spin"></i>
	</div>
{{/if}}
