<section class="content-header">
  <h1>
    Widgets
    <small>Preview page</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Widgets</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  {{partial 'widgets/admin-lte-small-boxes'}}

  {{partial 'widgets/boxes-editor'}}

  {{partial 'widgets/admin-lte-boxes'}}

  {{partial 'widgets/admin-lte-solids'}}

  {{partial 'widgets/admin-lte-tiles'}}



</section><!-- /.content -->
